name: Nightly build and test

on:
  schedule:
    - cron: '42 0 * * *'

jobs:
  build:

    runs-on: macos-14

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
